/packages/rsbuild/node_modules/
/packages/rsbuild/dist/
/packages/vite/node_modules/
/packages/vite/dist/
/packages/core/node_modules/
/packages/core/dist/
/packages/vite/playground/node_modules/
/node_modules/
.idea/